<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.xhm.ssm.exception.RegistValidatorException">
        <property name="view" value="jsps/user/regist"/>
    </bean>
    <bean class="com.xhm.ssm.exception.CustomException">
        <property name="view" value="jsps/msg"/>
    </bean>
    <bean class="com.xhm.ssm.exception.LoginValidatorException">
        <property name="view" value="jsps/user/login"/>
    </bean>
</beans>